@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<form name="LegacyKeyLoginForm" asp-action="Start">
    <div>
        <label for="InputKey">Access key</label>
        <input id="InputKey" type="text">
    </div>
    <div>
        <input type="submit" name="login" value="Login"/>
    </div>
</form>
