@model TemplateApp.Presentation.Web.ViewModels.Home.Start
@{
    ViewData["Title"] = "Start";
}

<h1>@ViewData["Title"]</h1>
<p>This is some of a kitchen sink for all things to get layouted properly.</p>

<h2>Table</h2>
@await Html.PartialAsync("_PartialTable", Model.Table)

<h2>Tabs</h2>
<partial name="_PartialTabs" model="Model.PartialTabs"/>

<h3>Dialog</h3>
<partial name="_PartialButton" model="Model.OpenDialogButton"/>

@await Html.PartialAsync("_PartialDialog", Model.Dialog)

<h3>Tree</h3>
@await Html.PartialAsync("_PartialTree", Model.Tree)