<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TemplateApp.Presentation.Web</title>
    <partial name="_LibraryStylesPartial" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TemplateApp.Presentation.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Home" asp-action="Index">TemplateApp.Presentation.Web</a>
            <a asp-controller="Home" asp-action="Start">Home</a>
            <a asp-controller="Privacy" asp-action="Index">Privacy</a>
        </nav>
    </header>
    <hr/>
    <main role="main">
        @RenderBody()
    </main>
    <hr/>
    <footer>
        <span>&copy; 2024 - TemplateApp.Presentation.Web - <a asp-area="" asp-controller="Privacy" asp-action="Index">Privacy</a></span>
    </footer>
    <partial name="_LibraryScriptsPartial" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
