@model TemplateApp.Presentation.Web.ViewModels.Shared.PartialLinkButton

<a class="btn outlined p-2 m-1" title="@Model.Title" href="@Model.Url" target="_blank" onclick="javascript:event.stopPropagation();">
    @if (Model.Icon != null)
    {
        <i class="material-symbols-outlined">@Model.Icon</i>
    }
    @if (Model.Text != null)
    {
        <span>@Model.Text</span>
    }
</a>