@model TemplateApp.Presentation.Web.ViewModels.Shared.PartialButton

<form action="" method="get">
    @foreach (var entry in Model.HiddenNameActions)
    {
        <input type="hidden" name="@entry.Key" value="@entry.Value"/>
    }
    <input type="submit" name="@Model.ActionName" value="@Model.ActionValue"/>
</form>